<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
    {% block head %}
        <link rel="stylesheet" href="/styles/style.css">
    {% endblock head %}
</head>
<body class='page--{{ page.fileSlug }}'>
    <div class="content">
        {% block content %}
        {{ content | safe }}
        {% endblock content %}
    </div>

    {% block foot %}
    {% endblock foot %}
</body>
</html>