<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
    
    <title>{% block title %}{{ title }} - abdus.dev{% endblock title %}</title>
    <link rel="stylesheet"
          href="{{ '/assets/css/style.css' | cachebust }}">
    <meta name='theme-color' content='#db7093'>

    {% if canonical %}<meta name='canonical' content='{{ canonical }}'>{% endif %}
    {% if description %}<meta name='description' content='{{ description }}'>{% endif %}

    {% block head %}
    {% endblock head %}

    <script>
        const isDark = () => JSON.parse(localStorage.getItem('darkmode') || 'true');
        const setDarkMode = (isDark) => {
            document.documentElement.classList.toggle('light', !isDark);
            localStorage.setItem('darkmode', isDark);
        }
        const toggleDarkMode = () => setDarkMode(!isDark())
        setDarkMode(isDark());
    </script>
</head>
<body class='page--{{ page.fileSlug }}'>
<div class='page-wrapper'>
    {% include 'partials/nav.njk' %}
    <div class="content">
        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </div>
    <footer>
        <hr>
        <p class='text--small text--bold text--dim'><span title="toggle dark mode" onclick="toggleDarkMode()">{{ site.copyright }}</span></p>
    </footer>
</div>

{% block foot %}
{% endblock foot %}


{% if env.prod %}
{% include 'partials/analytics.njk' %}
{% endif %}
<script src="/assets/js/instant.min.js" type="module"></script>
</body>
</html>
