<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }} - abdus.dev{% endblock title %}</title>
    <link rel="stylesheet"
          href="/assets/css/style.css">

    {% if canonical %}<meta name='canonical' content='{{ canonical }}'>{% endif %}
    {% if description %}<meta name='description' content='{{ description }}'>{% endif %}

    {% block head %}
    {% endblock head %}
</head>
<body class='page--{{ page.fileSlug }}'>
<div class='page-wrapper'>
    {% include 'partials/nav.njk' %}
    <div class="content">
        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </div>
    <footer>
        <hr>
        <p class='text--small text--bold text--dim'>{{ site.copyright }}</p>
    </footer>
</div>

{% block foot %}
{% endblock foot %}
</body>
</html>