{% extends "base.njk" %}

{% block content %}
    <div class="single">
        {% block single_content %}
            <h1 class="{{ 'page-title' if fancyTitle else ''}}">{{ title }}</h1>
            {{ content | safe }}
        {% endblock %}
    </div>
{% endblock %}