---
sitemap: false
---
{% extends "single.njk" %}

{% block head %}
    <meta http-equiv='refresh' content='0;{{ r.redirectTo }}'>
{% endblock %}


{% block single_content %}
    <p>Content moved.</p>
    <a href='{{ r.redirectTo }}'>Redirecting...</a>
{% endblock %}

