{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class='intro'>
        <p class='h6'>hey there,</p>
        <h1>I'm Abdussamet Koçak</h1>
        <p class='h6'>this is my blog, where I try to document things as I learn and build.</p>
    </section>

    <hr>

    <section>
        <h2>latest</h2>
        {% set posts = collections.updates %}
        {% include 'partials/post-list.njk' %}
    </section>
{% endblock %}

{% block head %}
    <style>
        .intro > * {
            margin: 0 0 1rem;
        }
    </style>
{% endblock %}
