{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class='intro'>
        <p class='h5'>hey there,</p>
        <h1>I'm Abdüssamet Koçak</h1>
        <p class='h5'>I build things for the web.</p>
    </section>


    <hr>

    <section>
        <h2>updates</h2>
        {% set posts = collections.updates | reverse %}
        {% include 'partials/post-list.njk' %}
    </section>
{% endblock %}

{% block head %}
    <style>
        .intro > * {
            margin: 0 0 1rem;
        }
    </style>
{% endblock %}
