:root {
    --fz: 14px;
    --bg-code: #{rgba(black, 0.025)};
    --c-red: palevioletred;
    --c-gold: #FCB305;

    --c-body: #333;
    --bg-body: #fcfcfc;
    --p-sides-x: 1.5rem;
    --p-sides-y: 2rem;
    --c-link: var(--c-red);
    --c-primary: var(--c-red);



    --scrollbar-track: #eee;
    --scrollbar-thumb: #ccc;
    --scrollbar-size: 4px;
}


@if ($enableDarkMode) {
    @media screen and (prefers-color-scheme: dark) {
        :root {
            --c-body: #fefefe;
            --bg-body: #222;

            --scrollbar-track: #999;
            --scrollbar-thumb: #666;
        }
    }
}


@media screen and (min-width: 600px) {
    :root {
        --fz: 16px;
        --p-sides-x: 2rem;
        --scrollbar-size: 6px;
    }
}

@media screen and (min-width: 900px) {
    :root {
        --fz: 18px;
        --p-sides-x: 4rem;
        --p-sides-y: 4rem;
    }
}



*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    font-size: var(--fz);
    line-height: 1.6;
    color: var(--c-body);
    background-color: var(--bg-body);
}


img {
    max-width: 100%;
    height: auto;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: ampersand, $font;
    line-height: 1.2;
    font-weight: 600;
    margin: 1em 0;
}

h1, .h1 {
    font-weight: 700;
    font-size: calc(1.5em + 0.5vw);

    &:first-child {
        margin-bottom: 1.5em;
    }

    &.title {
        color: var(--c-primary);
    }
}

h2, .h2 {
    font-size: 1.5em;
}

h3, .h3 {
    font-size: 1.333em;
}

h4, .h4 {
    font-size: 1.25em;
}

h5, .h5 {
    font-size: 1.125em;
}

h6, .h6 {
    font-weight: 500;
    font-size: 1em;
}

a {
    color: var(--c-link);

    h1 &, h2 & {
        color: currentColor;
        text-decoration: none;
    }

    &:hover {
        color: var(--c-link);
    }
}

p {
    margin: 0 0 1em;

    &:only-child {
        margin: 0;
    }
}

thead th {
    text-align: left;
}

th {
    font-weight: 600;
}

input {
    font-family: inherit;
    font-size: inherit;
}

ul, ol {
    padding: 0;
    margin: 1rem 0;
}

:is(ul, ol) :is(ul, ul) {
    padding-left: 1rem;
}

hr {
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background-color: rgba(black, 0.2);
    width: 33%;

}

cite {
    font-size: 0.8em;
    font-style: normal;
}

code, pre {
    font-family: $fontMono;
}


code {
    background-color: var(--bg-code);
    padding: 0.2em;

    pre & {
        --bg-code: transparent;
        padding: 0;
    }
}

.d--i {
    display: inline;
}

.d--ib {
    display: inline-block;
}

.mb--1 {
    margin-bottom: 0.5rem;
}

.mb--2 {
    margin-bottom: 1rem;
}

.c--primary {
    color: var(--c-primary);
}

.c--error {
    color: var(--c-red);
}

.text--dim {
    opacity: 0.5;
}

.text--bold {
    font-weight: 600;
}

.text--lowercase {
    text-transform: lowercase;
}

small,
.text--small {
    font-size: 0.75em;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 55rem;
    margin-right: auto;
    padding: var(--p-sides-y) var(--p-sides-x);
}

.single {
    & > h1:first-child {
        margin-top: 0;
    }
}

.content {
    flex-grow: 1;
}

.page-title {
    text-transform: lowercase;
    &:before {
        content: '/';
        color: var(--c-primary);
        margin-right: 0.25rem;
    }
}

.nav {
    margin-bottom: 2rem;
    color: var(--c-primary);
}

.nav__link {
    display: inline-block;
    padding: 0.25rem 0;
    margin-right: 1rem;
    font-size: 1em;
    font-weight: 700;
    color: var(--c-body);
}

.nav__link--home {
    color: var(--c-link);
}

.button {
    display: inline-block;
    padding: 0.5em 0.75em;
    background-color: var(--c-primary);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: 0;
    appearance: none;
    cursor: pointer;
}

