:root {
    --c-code: #{rgba(black, 0.025)};
    --p-sides-x: 2rem;
    --p-sides-y: 2rem;
}

@media screen and (min-width: 600px) {
    :root {
        --p-sides-x: 4rem;
        --p-sides-y: 4rem;
    }
}

*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: $font;
    font-size: 18px;
    line-height: 1.6;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    line-height: 1.15;
    font-weight: 600;
    margin: 1.5em 0 1rem;

    &:first-child {
        margin-top: 0;
    }
}

h1, .h1 {
    font-weight: 700;
    font-size: calc(1.5em + 0.5vw);
}

h2, .h2 {
    font-size: 1.5em;
}

h3, .h3 {
    font-size: 1.333em;
}

h4, .h4 {
    font-size: 1.25em;
}

h5, .h5 {
    font-size: 1.125em;
}

h6, .h6 {
    font-weight: 500;
    font-size: 1em;
}

p {
    margin: 0 0 1em;

    &:only-child {
        margin: 0;
    }
}

thead th {
    text-align: left;
}

th {
    font-weight: 600;
}

input {
    font-family: inherit;
    font-size: inherit;
}

ul {
    padding: 0;
    margin: 1rem 0;
}

hr {
    margin: 2rem 0;
    color: rgba(black, 0.2);
    width: 33%;
}

cite {
    font-size: 0.8em;
    font-style: normal;
}

code, pre {
    font-family: jetbrainsmono, consolas, roboto mono, monospace;
}


code {
    background-color: var(--c-code);
    padding: 0.2em;

    pre & {
        --c-code: transparent;
        padding: 0;
    }
}

.snippet {
    overflow-x: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    background-color: var(--c-code);
    border: 1px solid rgba(black, 0.1);
}

.d--i {
    display: inline;
}

.d--ib {
    display: inline-block;
}

.text--bold {
    font-weight: 700;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.page-wrapper {
    padding: var(--p-sides-y) var(--p-sides-x);
}

.content {
    max-width: 55rem;
    margin-right: auto;
}

.nav {
    margin-bottom: 2rem;
}

.nav__link {
    display: inline-block;
    padding: 0.25rem 0;
    margin-right: 1rem;
    font-weight: 500;
}

.tip {
    margin: 2rem -1rem;
    padding: 1rem;
    border: 1px solid limegreen;
    //box-shadow: 0 0.5rem 1rem -0.5rem rgba(limegreen, 0.5);
    &:before {
        content: 'tip';
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        font-weight: bold;
        font-size: 0.8em;
        color: limegreen;
        margin-bottom: 0.5rem;
    }
}