$fonts: () !default;
@if (map_get($fonts, 'inter')) {
  @font-face {
    font-family: inter;
    src: url("../fonts/inter.var.subset.woff2") format("woff2");
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;
    font-display: swap;
  }
}


@if (map_get($fonts, 'jetbrainsmono')) {
  @font-face {
    font-family: jetbrainsmono;
    font-display: swap;
    font-weight: 700;
    src: url('../fonts/jetbrainsmono-bold.subset.woff2') format("woff2");
  }
  @font-face {
    font-family: jetbrainsmono;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/jetbrainsmono-regular.subset.woff2') format("woff2");
  }
}

@font-face {
  font-family: ampersand;
  src: local('baskerville'),
  local('georgia'),
  local('georgia'),
  local('garamond'),
  local('palatino'),
  local('Times New Roman');
  unicode-range: u+26;
}

