@font-face {
  font-family: inter;
  font-display: swap;
  src: url("../fonts/inter.var.subset.woff2") format("woff2"); }

@font-face {
  font-family: jetbrainsmono;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/jetbrainsmono-bold.subset.woff2") format("woff2"); }

@font-face {
  font-family: jetbrainsmono;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/jetbrainsmono-regular.subset.woff2") format("woff2"); }

@font-face {
  font-family: ampersand;
  src: local("baskerville"), local("georgia"), local("georgia"), local("garamond"), local("palatino"), local("Times New Roman");
  unicode-range: u+26; }

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa; }

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic; }

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4; }

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649; }

.hljs-literal {
  color: #0184bb; }

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f; }

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401; }

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801; }

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

@media screen and (prefers-color-scheme: dark) {
  html:not(.light) {
    /*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/ }
    html:not(.light) .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      background: #232323;
      color: #e6e1dc; }
    html:not(.light) .hljs-comment,
    html:not(.light) .hljs-quote {
      color: #bc9458;
      font-style: italic; }
    html:not(.light) .hljs-keyword,
    html:not(.light) .hljs-selector-tag {
      color: #c26230; }
    html:not(.light) .hljs-string,
    html:not(.light) .hljs-number,
    html:not(.light) .hljs-regexp,
    html:not(.light) .hljs-variable,
    html:not(.light) .hljs-template-variable {
      color: #a5c261; }
    html:not(.light) .hljs-subst {
      color: #519f50; }
    html:not(.light) .hljs-tag,
    html:not(.light) .hljs-name {
      color: #e8bf6a; }
    html:not(.light) .hljs-type {
      color: #da4939; }
    html:not(.light) .hljs-symbol,
    html:not(.light) .hljs-bullet,
    html:not(.light) .hljs-built_in,
    html:not(.light) .hljs-builtin-name,
    html:not(.light) .hljs-attr,
    html:not(.light) .hljs-link {
      color: #6d9cbe; }
    html:not(.light) .hljs-params {
      color: #d0d0ff; }
    html:not(.light) .hljs-attribute {
      color: #cda869; }
    html:not(.light) .hljs-meta {
      color: #9b859d; }
    html:not(.light) .hljs-title,
    html:not(.light) .hljs-section {
      color: #ffc66d; }
    html:not(.light) .hljs-addition {
      background-color: #144212;
      color: #e6e1dc;
      display: inline-block;
      width: 100%; }
    html:not(.light) .hljs-deletion {
      background-color: #600;
      color: #e6e1dc;
      display: inline-block;
      width: 100%; }
    html:not(.light) .hljs-selector-class {
      color: #9b703f; }
    html:not(.light) .hljs-selector-id {
      color: #8b98ab; }
    html:not(.light) .hljs-emphasis {
      font-style: italic; }
    html:not(.light) .hljs-strong {
      font-weight: bold; }
    html:not(.light) .hljs-link {
      text-decoration: underline; } }

:root {
  --fz: 16px;
  --bg-code: rgba(34, 34, 34, 0.025);
  --c-red: #db7093;
  --c-gold: #FCB305;
  --c-body: #333;
  --bg-body: #fcfcfc;
  --p-sides-x: 1.5rem;
  --p-sides-y: 2rem;
  --c-link: var(--c-red);
  --c-primary: var(--c-red);
  --stripe-size: 0.5rem;
  --scrollbar-track: #eee;
  --scrollbar-thumb: #ccc;
  --scrollbar-size: 4px; }

@media screen and (prefers-color-scheme: dark) {
  html:not(.light) {
    --c-body: #fefefe;
    --bg-body: #222;
    --bg-code: rgba(48, 51, 55, 0.46);
    --scrollbar-track: #999;
    --scrollbar-thumb: #666; } }

@media screen and (min-width: 600px) {
  :root {
    --fz: 18px;
    --p-sides-x: 2rem;
    --scrollbar-size: 6px; } }

@media screen and (min-width: 900px) {
  :root {
    --fz: 20px;
    --p-sides-x: 4rem;
    --p-sides-y: 4rem; } }

@media screen and (min-width: 1300px) {
  :root {
    --fz: 22px;
    --p-sides-x: 6rem;
    --p-sides-y: 4rem; } }

*, *::before, *::after {
  font-family: inherit;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: var(--fz);
  line-height: 1.6;
  color: var(--c-body);
  background-color: var(--bg-body);
  border-top: var(--stripe-size) solid var(--c-primary);
  border-bottom: var(--stripe-size) solid var(--c-primary); }

img {
  max-width: 100%;
  height: auto; }

video {
  width: 100%;
  height: auto; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  margin: 1em 0; }

h1, .h1 {
  font-weight: 700;
  font-size: calc(1.5em + 0.5vw); }
  h1:first-child, .h1:first-child {
    margin-bottom: 1.5em; }
  h1.title, .h1.title {
    color: var(--c-primary); }

h2, .h2 {
  font-size: 1.5em; }

h3, .h3 {
  font-size: 1.333em; }

h4, .h4 {
  font-size: 1.25em; }

h5, .h5 {
  font-size: 1.125em; }

h6, .h6 {
  font-weight: 500;
  font-size: 1em; }

a {
  color: var(--c-link); }
  h1 a, h2 a {
    color: currentColor;
    text-decoration: none; }
  a:hover {
    color: var(--c-link); }

p {
  margin: 0 0 1em; }
  p:only-child {
    margin: 0; }

thead th {
  text-align: left; }

th {
  font-weight: 600; }

input {
  font-family: inherit;
  font-size: inherit; }

ul, ol {
  padding: 0;
  margin: 1rem 0; }

:is(ul, ol) :is(ul, ul) {
  padding-left: 1rem; }

hr {
  margin: 2rem 0;
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 33%; }

cite {
  font-size: 0.8em;
  font-style: normal; }

code, pre {
  font-family: jetbrainsmono, menlo, hack, consolas, roboto mono, droid sans mono, monospace; }

code {
  background-color: var(--bg-code);
  padding: 0.2em; }
  pre code {
    --bg-code: transparent;
    padding: 0; }

table {
  border-spacing: 0.75rem 0.25rem; }

details {
  margin: 2rem 0; }

summary {
  font-weight: 600;
  margin-bottom: 1rem; }

.d--i {
  display: inline; }

.d--ib {
  display: inline-block; }

.mb--1 {
  margin-bottom: 0.5rem; }

.mb--2 {
  margin-bottom: 1rem; }

.c--primary {
  color: var(--c-primary); }

.c--error {
  color: var(--c-red); }

.text--dim {
  opacity: 0.5; }

.text--bold {
  font-weight: 600; }

.text--lowercase {
  text-transform: lowercase; }

small,
.text--small {
  font-size: 0.75em; }

.link {
  text-decoration: none;
  color: currentColor; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 55rem;
  margin-right: auto;
  padding: var(--p-sides-y) var(--p-sides-x); }

.single > h1:first-child {
  margin-top: 0; }

.content {
  flex-grow: 1; }

.page-title {
  text-transform: lowercase; }
  .page-title:before {
    content: '/';
    color: var(--c-primary);
    margin-right: 0.25rem; }

.nav {
  margin-bottom: 2rem;
  color: var(--c-primary); }

.nav__link {
  display: inline-block;
  padding: 0.25rem 0;
  margin-right: 1rem;
  font-size: 1em;
  font-weight: 700;
  color: var(--c-body); }

.nav__link--home {
  color: var(--c-link); }

.nav__link--darkmode {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center; }
  .nav__link--darkmode svg {
    width: auto;
    height: 1em; }

.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: var(--c-primary);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0;
  appearance: none;
  cursor: pointer; }

.single img {
  display: block;
  margin: 1rem 0; }

.snippet {
  position: relative;
  overflow-x: auto;
  scrollbar-width: thin;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  background-color: var(--bg-code);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 0; }
  .snippet:before {
    content: attr(data-lang);
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.6em;
    font-weight: 600;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s; }
  .snippet:hover:before {
    opacity: 0.5; }
  .snippet::-webkit-scrollbar {
    height: var(--scrollbar-size); }
  .snippet::-webkit-scrollbar-track {
    background: var(--scrollbar-track); }
  .snippet::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb); }

.tip {
  margin: 2rem -1rem;
  padding: 1rem;
  border: 1px solid limegreen; }
  .tip:before {
    content: 'tip';
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: limegreen;
    margin-bottom: 0.5rem; }

.download {
  padding: 1rem;
  margin: 1rem -1rem;
  border: 1px solid var(--c-primary); }
  .download a {
    text-decoration: none; }
  .download ul {
    padding-left: 1rem; }
  .download > *:last-child {
    margin-bottom: 0; }
  .download:before {
    content: 'download';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 0.75em;
    color: var(--c-primary);
    margin-bottom: 1rem;
    display: block; }

.tag {
  font-size: 0.75em;
  margin-right: 0.25rem;
  font-weight: 600;
  text-decoration: none; }

.table-of-contents {
  padding: 1rem;
  margin: 2rem -1rem;
  font-weight: 600;
  background-color: rgba(0, 0, 128, 0.03); }
  .table-of-contents:before {
    content: 'Table Of Contents';
    color: var(--c-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block; }
  .table-of-contents ul {
    list-style: none;
    margin: 0; }
  .table-of-contents ul ul {
    list-style: inside; }
  .table-of-contents a {
    text-decoration: none; }

.footnote-backref {
  font-family: jetbrainsmono, menlo, hack, consolas, roboto mono, droid sans mono, monospace;
  text-decoration: none; }

[id*=fnref] {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */