<script src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js" defer="defer"></script>
<script>
    const commentsApp = () => ({
        ready: false,
        startLoading: false,
        init() {
            window.addEventListener('message', m => {
                if (!m.origin.includes('utteranc.es')) {
                    return;
                }
                console.log(m);
                this.ready = true;
            });
        }
    })
</script>
<aside x-data="commentsApp()" x-ref="comments" x-on:mouseover="startLoading = true">
    <details>
        <summary x-on:click="startLoading = true">Comments</summary>
        <template x-if="!ready">
            <p>Loading...</p>
        </template>
        <template x-if="startLoading">
            <script src="https://utteranc.es/client.js" repo="abdusco/abdus.dev" issue-term="pathname" label="comments" theme="preferred-color-scheme" crossorigin="anonymous" async="async"></script>
        </template>
    </details>
    <style>
        .utterances {
            margin: 0;
            max-width: 100%;
        }
    </style>
</aside>