<header>
    {% if site.nav | length %}
        <nav class='nav'>
            {%- for it in site.nav -%}
                <a class='nav__link link {% if it.name %}nav__link--{{ it.name }}{% endif %}'
                   href='{{ it.href }}'>{{ it.text }}</a>
            {%- endfor -%}
        </nav>
    {% endif %}
</header>